{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true,
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": ["tsconfig.json"]
  },
  "plugins": [
    "roblox-ts",
    "@typescript-eslint",
    "@typescript-eslint/eslint-plugin",
    "prettier",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/array-type": [
      "warn",
      {
        "default": "generic",
        "readonly": "generic"
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/no-misused-promises": "error",
    "@typescript-eslint/no-unused-expressions": "warn",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "class-methods-use-this": "warn",
    "prefer-const": "warn",
    "no-constant-condition": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  }
}
